<!-- Hier werden die Möglichen Freunde angezeigt -->
<modal id="modal-friend-seach" >
    <div class="modal-header ">
        <h5 class="modal-title">Freunde Suchen</h5>
        <button type="button" class="btn-close" (click)="modalService.close();"></button>
    </div>
    <div class="modal-body custom-background">
  
   <app-add></app-add> 
        
    </div>
    <div class="modal-footer rcustom-background" >
        <button type="button" class="btn btn-outline-danger" (click)="modalService.close();">Schließen</button>
        
    </div>
  </modal>