<!-- Wenn sich der inhalt der searchForm ändert wird die mehtode zu suche möglicher freunde ausgeführt -->
<h2 class="ms-3 mb-3">Suche neue Freunde</h2>
<div class="row">
  <div class="mt-1 mb-3 ms-10pr ">
    <div class="input-group rounded">
      <input type="search"  
        class="form-control "
        style="max-width: 80%;" 
        placeholder="Neue Freunde" 
        aria-label="Search" 
        aria-describedby="search-addon"
        [(ngModel)]="inputValue"
        (input)="searchPossibleFriends()" />    
    </div>
      <div class="mt-3 " style="max-width: 83%;"  >
        <app-possible-friends-list></app-possible-friends-list>
    </div>
  </div>
</div>





